<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article.id and @admin%>
  <h3> Merge </h3>
  <%= form_tag :action => 'merge_with', :id => @article.id do %>
    <%= text_field_tag "merge_with" %>
    <%= submit_tag "Merge With This Article" %>
  <% end %>
<% end %>
